<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web-customer-tracker</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="icon" th:href="@{/images/ok.png}">
    <script type="text/javascript" th:src="@{/js/vendor/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
<h1>Hello worm!</h1>
<img th:src="@{/images/ok.png}"/>
</body>
</html>